In [11]:
def _input(day: int) -> str:
    with open(f"inputs/{day}") as f:
        return f.read().strip()

In [66]:
def _grouplines(lines: str) -> [[str]]:
    results = []
    for group in lines.split("\n\n"):
        results.append(group.split("\n"))
    return results


def _groupbysize(_lines: str, size: int) -> [[str]]:
    result = []
    lines = _lines.split("\n")
    for i in range(0, len(lines), size):
        result.append(lines[i:i+size])
        
    return result


def _chartoint(c: str) -> int:
    o = ord(c)
    if o >= 97:
        return o-96
    else:
        return o-38


def _parsestack(stack: str) -> dict[int,[str]]:
    result = {}
    lines = stack.split("\n")
    header = lines[-1]
    for i in range(0, len(header)):
        c = header[i]
        if c != " ":
            result[c] = [line[i] for line in lines[:-1] if line[i] != " "]
            
    return result

In [25]:
def d1p1(lines: str) -> int:
    largest = 0
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        if subtotal > largest:
            largest = subtotal
            
    return largest
        
d1p1("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

24000

In [24]:
d1p1(_input(1))

73211

In [30]:
def d1p2(lines: str) -> int:
    totals = []
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        totals.append(subtotal)
    
    totals.sort(reverse=True)
    return sum(totals[0:3])
    
        
d1p2("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

45000

In [31]:
d1p2(_input(1))

213958

In [6]:
def d2p1(lines: str) -> int:
    vals = {"A": 1, "B": 2, "C": 3, "X": 1, "Y": 2, "Z": 3}
    score = 0
    for line in lines.split("\n"):
        elf, me = line.split(" ")
        ev = vals[elf]
        mv = vals[me]
        
        if ev == mv:
            score += 3 + mv
        elif ev == 1 and mv == 3:
            score += mv
        elif ev == 3 and mv == 1:
            score += 6 + mv
        elif ev > mv:
            score += mv
        else:
            score += 6 + mv
            
    return score

d2p1("""A Y
B X
C Z""")

15

In [14]:
d2p1(_input(2))

13682

In [8]:
def d2p2(lines: str) -> int:
    tlines = []
    tl = {
        "A": {"X": "C", "Y": "A", "Z": "B"},
        "B": {"X": "A", "Y": "B", "Z": "C"},
        "C": {"X": "B", "Y": "C", "Z": "A"}
    }
    
    for line in lines.split("\n"):
        elf, me = line.split(" ")
        tlines.append(f"{elf} {tl[elf][me]}")
        
    return d2p1("\n".join(tlines))

            
d2p2("""A Y
B X
C Z""")

12

In [12]:
d2p2(_input(2))

12881

In [21]:
def d3p1(lines: str) -> int:
    items = []
    for line in lines.split("\n"):
        midpoint = int(len(line)/2)
        c1 = set(line[:midpoint])
        c2 = set(line[midpoint:])
        items.extend(c1.intersection(c2))
        
    result = 0
    for item in items:
        result+=_chartoint(item)
        
            
    return result
            
d3p1("""vJrwpWtwJgWrhcsFMMfFFhFp
jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
PmmdzqPrVvPwwTWBwg
wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
ttgJtRGJQctTZtZT
CrZsJsPPZsGzwwsLwLmpwMDw""")

157

In [22]:
d3p1(_input(3))

8394

In [44]:
def d3p2(lines: str) -> int:
    result = 0
    for group in _groupbysize(lines, 3):
        common = set(group[0]).intersection(set(group[1])).intersection(set(group[2]))
        result += _chartoint(''.join(common))
        
    return result


d3p2("""vJrwpWtwJgWrhcsFMMfFFhFp
jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
PmmdzqPrVvPwwTWBwg
wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
ttgJtRGJQctTZtZT
CrZsJsPPZsGzwwsLwLmpwMDw""")

70

In [45]:
d3p2(_input(3))

2413

In [51]:
def d4p1(lines: str) -> int:
    result = 0
    for line in lines.split("\n"):
        elf1, elf2 = line.split(",")
        s1, e1 = [int(x) for x in elf1.split("-")]
        s2, e2 = [int(x) for x in elf2.split("-")]
        
        if s1 >= s2 and e1 <= e2:
            result+=1
        elif s2 >= s1 and e2 <= e1:
            result+=1
            
    return result


d4p1("""2-4,6-8
2-3,4-5
5-7,7-9
2-8,3-7
6-6,4-6
2-6,4-8""")

2

In [52]:
d4p1(_input(4))

515

In [56]:
def d4p2(lines: str) -> int:
    result = 0
    for line in lines.split("\n"):
        elf1, elf2 = line.split(",")
        s1, e1 = [int(x) for x in elf1.split("-")]
        s2, e2 = [int(x) for x in elf2.split("-")]
        
        sec1 = set(range(s1, e1+1))
        sec2 = set(range(s2, e2+1))
        
        if len(sec1.intersection(sec2)) > 0:
            result+=1
            
    return result


d4p2("""2-4,6-8
2-3,4-5
5-7,7-9
2-8,3-7
6-6,4-6
2-6,4-8""")

4

In [57]:
d4p2(_input(4))

883

In [83]:
def d5p1(lines: str) -> int:
    unparsed_stack, instructions = lines.split("\n\n")
    
    stack = _parsestack(unparsed_stack)
    for i in instructions.split("\n"):
        words = i.split(" ")
        qty = int(words[1])
        _from = words[3]
        to = words[5]
        
        stack[to][:0] = stack[_from][0:qty][::-1]
        del stack[_from][0:qty]
        
    result = ""
    for i in stack:
        result+=stack[i][0]
    
    return result
        
d5p1("""    [D]    
[N] [C]    
[Z] [M] [P]
 1   2   3 

move 1 from 2 to 1
move 3 from 1 to 3
move 2 from 2 to 1
move 1 from 1 to 2""")

'CMZ'

In [84]:
d5p1(_input(5))

'SVFDLGLWV'

In [85]:
def d5p2(lines: str) -> int:
    unparsed_stack, instructions = lines.split("\n\n")
    
    stack = _parsestack(unparsed_stack)
    for i in instructions.split("\n"):
        words = i.split(" ")
        qty = int(words[1])
        _from = words[3]
        to = words[5]
        
        stack[to][:0] = stack[_from][0:qty]
        del stack[_from][0:qty]
        
    result = ""
    for i in stack:
        result+=stack[i][0]
    
    return result
        
d5p2("""    [D]    
[N] [C]    
[Z] [M] [P]
 1   2   3 

move 1 from 2 to 1
move 3 from 1 to 3
move 2 from 2 to 1
move 1 from 1 to 2""")

'MCD'

In [86]:
d5p2(_input(5))

'DCVTCVPCL'

In [90]:
def d6p1(line: str) -> int:
    for i in range(len(line)-4):
        if len(set(line[i:i+4])) == 4:
            return i+4
    
print(d6p1("mjqjpqmgbljsphdztnvjfqwrcgsmlb"))
print(d6p1("bvwbjplbgvbhsrlpgdmjqwftvncz"))
print(d6p1("nppdvjthqldpwncqszvftbrmjlhg"))
print(d6p1("nznrnfrfntjfmvfwmzdfjlvtqnbhcprsg"))
print(d6p1("zcfzfwzzqfrljwzlrfnpqdbhtmscgvjw"))

7
5
6
10
11

In [91]:
d6p1(_input(6))

1912

In [93]:
def d6p2(line: str) -> int:
    for i in range(len(line)-14):
        if len(set(line[i:i+14])) == 14:
            return i+14
    
print(d6p2("mjqjpqmgbljsphdztnvjfqwrcgsmlb"))
print(d6p2("bvwbjplbgvbhsrlpgdmjqwftvncz"))
print(d6p2("nppdvjthqldpwncqszvftbrmjlhg"))
print(d6p2("nznrnfrfntjfmvfwmzdfjlvtqnbhcprsg"))
print(d6p2("zcfzfwzzqfrljwzlrfnpqdbhtmscgvjw"))

19
23
23
29
26

In [94]:
d6p2(_input(6))

2122