In [11]:
def _input(day: int) -> str:
    with open(f"inputs/{day}") as f:
        return f.read().strip()

In [43]:
def _grouplines(lines: str) -> [[str]]:
    results = []
    for group in lines.split("\n\n"):
        results.append(group.split("\n"))
    return results


def _groupbysize(_lines: str, size: int) -> [[str]]:
    result = []
    lines = _lines.split("\n")
    for i in range(0, len(lines), size):
        result.append(lines[i:i+size])
        
    return result


def _chartoint(c: str) -> int:
    o = ord(c)
    if o >= 97:
        return o-96
    else:
        return o-38

In [25]:
def d1p1(lines: str) -> int:
    largest = 0
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        if subtotal > largest:
            largest = subtotal
            
    return largest
        
d1p1("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

24000

In [24]:
d1p1(_input(1))

73211

In [30]:
def d1p2(lines: str) -> int:
    totals = []
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        totals.append(subtotal)
    
    totals.sort(reverse=True)
    return sum(totals[0:3])
    
        
d1p2("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

45000

In [31]:
d1p2(_input(1))

213958

In [6]:
def d2p1(lines: str) -> int:
    vals = {"A": 1, "B": 2, "C": 3, "X": 1, "Y": 2, "Z": 3}
    score = 0
    for line in lines.split("\n"):
        elf, me = line.split(" ")
        ev = vals[elf]
        mv = vals[me]
        
        if ev == mv:
            score += 3 + mv
        elif ev == 1 and mv == 3:
            score += mv
        elif ev == 3 and mv == 1:
            score += 6 + mv
        elif ev > mv:
            score += mv
        else:
            score += 6 + mv
            
    return score

d2p1("""A Y
B X
C Z""")

15

In [14]:
d2p1(_input(2))

13682

In [8]:
def d2p2(lines: str) -> int:
    tlines = []
    tl = {
        "A": {"X": "C", "Y": "A", "Z": "B"},
        "B": {"X": "A", "Y": "B", "Z": "C"},
        "C": {"X": "B", "Y": "C", "Z": "A"}
    }
    
    for line in lines.split("\n"):
        elf, me = line.split(" ")
        tlines.append(f"{elf} {tl[elf][me]}")
        
    return d2p1("\n".join(tlines))

            
d2p2("""A Y
B X
C Z""")

12

In [12]:
d2p2(_input(2))

12881

In [21]:
def d3p1(lines: str) -> int:
    items = []
    for line in lines.split("\n"):
        midpoint = int(len(line)/2)
        c1 = set(line[:midpoint])
        c2 = set(line[midpoint:])
        items.extend(c1.intersection(c2))
        
    result = 0
    for item in items:
        result+=_chartoint(item)
        
            
    return result
            
d3p1("""vJrwpWtwJgWrhcsFMMfFFhFp
jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
PmmdzqPrVvPwwTWBwg
wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
ttgJtRGJQctTZtZT
CrZsJsPPZsGzwwsLwLmpwMDw""")

157

In [22]:
d3p1(_input(3))

8394

In [44]:
def d3p2(lines: str) -> int:
    result = 0
    for group in _groupbysize(lines, 3):
        common = set(group[0]).intersection(set(group[1])).intersection(set(group[2]))
        result += _chartoint(''.join(common))
        
    return result


d3p2("""vJrwpWtwJgWrhcsFMMfFFhFp
jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
PmmdzqPrVvPwwTWBwg
wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
ttgJtRGJQctTZtZT
CrZsJsPPZsGzwwsLwLmpwMDw""")

70

In [45]:
d3p2(_input(3))

2413