In [11]:
def _input(day: int) -> str:
    with open(f"inputs/{day}") as f:
        return f.read()

In [20]:
def _grouplines(lines: str) -> [[str]]:
    results = []
    for group in lines.split("\n\n"):
        results.append(group.split("\n"))
    return results

In [25]:
def d1p1(lines: str) -> int:
    largest = 0
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        if subtotal > largest:
            largest = subtotal
            
    return largest
        
d1p1("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

24000

In [24]:
d1p1(_input(1))

73211

In [30]:
def d1p2(lines: str) -> int:
    totals = []
    for group in _grouplines(lines):
        subtotal = 0
        for line in group:
            subtotal+=int(line)
        totals.append(subtotal)
    
    totals.sort(reverse=True)
    return sum(totals[0:3])
    
        
d1p2("""1000
2000
3000

4000

5000
6000

7000
8000
9000

10000""")

45000

In [31]:
d1p2(_input(1))

213958